<form #loginForm='ngForm'>
    <div class="wrapper">
        <mat-form-field class="email">
            <input [(ngModel)]="userLog.username" type="email" name="username" matInput placeholder="Email" required>
            <mat-error *ngIf="passFormControl.hasError('required')">
                Please enter your email
            </mat-error>
        </mat-form-field>
        <mat-form-field class="password">
            <input matInput [(ngModel)]="userLog.password" placeholder="Password" [type]="hide ? 'password'
            : 'text'" [formControl]="passFormControl" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' :
                'visibility_off'}}</mat-icon>
            <mat-error *ngIf="passFormControl.hasError('required')">
                Please enter your password
            </mat-error>
        </mat-form-field>
        <mat-button-toggle [disabled]="loginForm.invalid"
                           (click)="loginUser()"
                           class="login"
        >Login

        </mat-button-toggle>
    </div>

</form>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="register">
    <mat-button-toggle routerLink="patient">Пацієнт</mat-button-toggle>
    <mat-button-toggle routerLink="doctor">Лікар</mat-button-toggle>
    <mat-button-toggle routerLink="laboratory">Лабораторія</mat-button-toggle>
</mat-button-toggle-group>
<router-outlet></router-outlet>

<!--<button (click)="getUser()">get User</button>-->

<!--<form #loginForm='ngForm'>-->
<!--  <input name="username" type="text" placeholder="email" required [(ngModel)]="userLog.username">-->
<!--  <input name="password" type="password" placeholder="password" required [(ngModel)]="userLog.password">-->
<!--  <button [disabled]="loginForm.invalid" (click)="loginUser()">увійти</button>-->
<!--</form>-->


