<div class="example-container">
  <mat-form-field>
    <input [(ngModel)]="user.name" name="name" matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="user.surname" name="surname" matInput placeholder="Surname">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="user.email" name="email" matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="user.phone" name="phone" matInput placeholder="Phone Number">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="user.date" name="date" matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <!--  <br>-->
  <mat-radio-group aria-label="Select sex" [(ngModel)]="user.gender" name="gender">
    <mat-radio-button name="gender" value="MALE">Male</mat-radio-button>
    <mat-radio-button name="gender" value="FEMALE">Female</mat-radio-button>
    <mat-radio-button name="gender" value="OTHER">Other</mat-radio-button>
  </mat-radio-group>
  <mat-button-toggle (click)="registerUser()">Register</mat-button-toggle>
</div>


<!--<form>-->
<!--  <div class="form-group">-->
<!--    <label for="name">Name</label>-->
<!--    <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name">-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label for="surname">Surname</label>-->
<!--    <input type="text" class="form-control" id="surname" required [(ngModel)]="user.surname" name="surname">-->
<!--  </div>-->

<!--  <button type="submit" class="btn btn-success" (click)="registerUser()">Submit</button>-->
<!--</form>-->

