<!--<mat-checkbox>Check me!</mat-checkbox>-->


<!--<mat-chip-list aria-label="Fish selection">-->
<!--  <mat-chip>One fish</mat-chip>-->
<!--  <mat-chip>Two fish</mat-chip>-->
<!--  <mat-chip color="primary" selected>Primary fish</mat-chip>-->
<!--  <mat-chip color="accent" selected>Accent fish</mat-chip>-->
<!--</mat-chip-list>-->


<!--<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--  <mat-icon>more_vert</mat-icon>-->
<!--</button>-->
<!--<mat-menu #menu="matMenu">-->
<!--  <button mat-menu-item>-->
<!--    <mat-icon>dialpad</mat-icon>-->
<!--    <span>Redial</span>-->
<!--  </button>-->
<!--  <button mat-menu-item disabled>-->
<!--    <mat-icon>voicemail</mat-icon>-->
<!--    <span>Check voice mail</span>-->
<!--  </button>-->
<!--  <button mat-menu-item>-->
<!--    <mat-icon>notifications_off</mat-icon>-->
<!--    <span>Disable alerts</span>-->
<!--  </button>-->
<!--</mat-menu>-->


<!--<div class="example-container">-->
<!--  <mat-form-field>-->
<!--    <input matInput placeholder="Login">-->
<!--  </mat-form-field>-->
<!--  <mat-form-field>-->
<!--    <input matInput placeholder="Password">-->
<!--  </mat-form-field>-->
<!--  <mat-button-toggle class="btn">Send</mat-button-toggle>-->
<!--</div>-->


<app-login></app-login>
<app-registration></app-registration>
